// app global css in SCSS form
#form {
  width: 100%;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 8px;
  

  .form-item {
    min-width: 18rem;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 300px;
    margin: auto;
    margin-top: 20px;

  }
}

@media screen and (max-width: 840px) {
  #form {
    flex-direction: column;
    width: auto;
  }
}

#toolbar-title {
  font-size: 28px;

  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
