// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.
// Check documentation for full list of Quasar variables
// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files
// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
$primary: #1976D2;
$secondary: #26A69A;
$accent: #fdfafe;
$dark: #1D1D1D;
$dark-page: #121212;
$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;
@mixin linear-gradient($direction, $start-color, $end-color) {
    background-image: linear-gradient($direction, $start-color, $end-color);
}

$color-start: #fff1eb;
$color-end: #ace0f9;
.bg-color {
    background-image: linear-gradient(to top, $color-start 0%, $color-end 100%);
}
.titulos{
  font-size: 28px;

  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
